In [136]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import re
import numpy as np
from sqlalchemy.orm import sessionmaker
engine = create_engine('mysql+pymysql://root:AmeSame420@localhost:3306/mydb')

In [140]:
##Run countries before this

community_Wide_2017 = pd.read_csv('../2017_-_Cities_Community_Wide_Emissions.csv')
emissions_reduction_2016 = pd.read_csv('../2016_-_Cities_Emissions_Reduction_Targets_20240207.csv')
emissions_reduction_2017 = pd.read_csv("../2017_-_Cities_Emissions_Reduction_Targets_20240207.csv")
citywide_ghg_2016 = pd.read_csv('../2016_-_Citywide_GHG_Emissions_20240207.csv')
climate_risk = pd.read_csv('../2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv')

In [141]:
df = emissions_reduction_2016[["Organisation", "Country", "Account No", "C40", "City Location", "City Short Name"]]
df =df.rename(columns ={"Organisation":"city_name", "Country": "country_id", "Account No":"account_no", "City Short Name": "city_short_name", "City Location": "city_location", "C40":"c40"})
df2 = emissions_reduction_2017[["Organisation", "Country", "Account No", "C40", "City Location"]]
df2 =df2.rename(columns ={"Organisation":"city_name", "Country": "country_id", "Account No":"account_no",  "City Location": "city_location", "C40":"c40"})
df.append(df2)
df =df.drop_duplicates("account_no")
df["c40"]=df["c40"]=="C40"

C:\Users\krist\AppData\Local\Temp\ipykernel_12216\462108251.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df2)

In [142]:

for index, row in community_Wide_2017.iterrows():
    if row["Account number"] in df["account_no"].values:
        df.loc[df["account_no"] == row["Account number"], "land_area"] = row["​Land area (in square km)"]
        df.loc[df["account_no"] == row["Account number"], "average_altitude"] = row["​Average altitude (m)"]

    else:
        _row = pd.DataFrame({"city_name": [row["Organization"]],"country_id": [row["Country"]], "account_no": [row["Account number"]],
                             "city_short_name": [row["City"]], "c40": [row["C40"]]=="C40", "city_location": row[["City Location"]], "average_altitude": row["​Average altitude (m)"], "land_area": row["​Land area (in square km)"]})
        df = pd.concat([df, _row], ignore_index = True)

In [143]:
for index, row in citywide_ghg_2016.iterrows():
    if row["Account Number"] in df["account_no"].values:
        df.loc[df["account_no"] == row["Account Number"], "land_area"] = row["​Land area (in square km)"]
        df.loc[df["account_no"] == row["Account Number"], "average_altitude"] = row["Average altitude (m)"]

    else:
        _row = pd.DataFrame({"city_name": [row["City Name"]],"country_id": [row["Country"]], "account_no": [row["Account Number"]],
                             "city_short_name": [row["City Short Name"]], "c40": [row["C40"]]=="C40", "city_location": row[["City Location"]], "average_altitude": row["Average altitude (m)"], "land_area": row["​Land area (in square km)"]})
        df = pd.concat([df, _row], ignore_index = True)

In [144]:
df["gcom"] = None
for index, row in climate_risk.iterrows():
    if row["Organization Number"] in df["account_no"].values:
        df.loc[df["account_no"] == row["Organization Number"], "gcom"] = row["GCoM City"]
    else:
        _row = pd.DataFrame({"city_name": [row["Organization Name"]],"country_id": [row["Country/Area"]], "account_no": [row["Organization Number"]],
                             "city_short_name": [row["City"]], "c40": [row["C40 City"]], "city_location": row[["City Location"]], "gcom": [row["GCoM City"]]})
        df = pd.concat([df, _row], ignore_index = True)

In [145]:
engine = create_engine('mysql+pymysql://root:AmeSame420@localhost:3306/mydb')
df.to_sql("city", con = engine, if_exists="append", index = False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Odder Kommune' for key 'city.PRIMARY'")
[SQL: INSERT INTO city (city_name, country_id, account_no, c40, city_location, city_short_name, average_altitude, land_area, gcom) VALUES (%(city_name)s, %(country_id)s, %(account_no)s, %(c40)s, %(city_location)s, %(city_short_name)s, %(average_altitude)s, %(land_area)s, %(gcom)s)]
[parameters: [{'city_name': 'Odder Kommune', 'country_id': 'Denmark', 'account_no': 58796, 'c40': 0, 'city_location': '(55.975718, 10.149958)', 'city_short_name': 'Odder Kommune', 'average_altitude': None, 'land_area': None, 'gcom': None}, {'city_name': 'Comune di Napoli', 'country_id': 'Italy', 'account_no': 36158, 'c40': 0, 'city_location': '(40.8419943, 14.2513831)', 'city_short_name': 'Napoli', 'average_altitude': None, 'land_area': None, 'gcom': None}, {'city_name': 'Egedal Municipality', 'country_id': 'Denmark', 'account_no': 62855, 'c40': 0, 'city_location': '(55.795045, 12.238733)', 'city_short_name': 'Egedal Municipality', 'average_altitude': 29.0, 'land_area': 126.0, 'gcom': None}, {'city_name': 'Yilan County', 'country_id': 'Taiwan', 'account_no': 61753, 'c40': 0, 'city_location': '(24.702107, 121.73775)', 'city_short_name': 'Yilan ', 'average_altitude': 20.0, 'land_area': 2143.0, 'gcom': None}, {'city_name': 'City of Emeryville, CA', 'country_id': 'USA', 'account_no': 61790, 'c40': 0, 'city_location': '(37.831316, -122.285247)', 'city_short_name': 'Emeryville, CA', 'average_altitude': 7.0, 'land_area': 5.2, 'gcom': None}, {'city_name': 'Communauté urbaine du Grand Nancy', 'country_id': 'France', 'account_no': 62180, 'c40': 0, 'city_location': '(48.692054, 6.184417)', 'city_short_name': 'Communauté urbaine du Grand Nancy', 'average_altitude': 212.0, 'land_area': 142.3, 'gcom': None}, {'city_name': 'Aarhus Kommune', 'country_id': 'Denmark', 'account_no': 54408, 'c40': 0, 'city_location': '(56.168393, 10.137373)', 'city_short_name': 'Aarhus Kommune', 'average_altitude': None, 'land_area': None, 'gcom': 1}, {'city_name': 'Amiens Métropole', 'country_id': 'France', 'account_no': 54425, 'c40': 0, 'city_location': '(49.894067, 2.295753)', 'city_short_name': 'Amiens Métropole', 'average_altitude': None, 'land_area': None, 'gcom': None}  ... displaying 10 of 851 total bound parameter sets ...  {'city_name': 'Puerto Varas', 'country_id': 'Chile', 'account_no': 863001, 'c40': 0, 'city_location': None, 'city_short_name': None, 'average_altitude': None, 'land_area': None, 'gcom': 0}, {'city_name': 'Municipio de San Luis', 'country_id': 'Argentina', 'account_no': 924874, 'c40': 0, 'city_location': None, 'city_short_name': None, 'average_altitude': None, 'land_area': None, 'gcom': 1}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)