In [68]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import re
from sqlalchemy.orm import sessionmaker

In [12]:
df = pd.read_csv("../2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv")
len(df["City"].unique())
import pymysql
from sqlalchemy import create_engine
import re

df = pd.read_csv("../2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv")
len(df["City"].unique())

444

In [14]:
community_Wide_2017 = pd.read_csv('../2017_-_Cities_Community_Wide_Emissions.csv')
emissions_reduction_2016 = pd.read_csv('../2016_-_Cities_Emissions_Reduction_Targets_20240207.csv')
emissions_reduction_2017 = pd.read_csv("../2017_-_Cities_Emissions_Reduction_Targets_20240207.csv")
citywide_ghg_2016 = pd.read_csv('../2016_-_Citywide_GHG_Emissions_20240207.csv')
climate_risk = pd.read_csv('../2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv')

In [16]:
len(emissions_reduction_2016["City"].unique())

KeyError: 'City'

In [17]:
emissions_reduction_2016.head()

,Organisation,Account No,Country,City Short Name,C40,Reporting Year,Sector,Target boundary,Baseline year,Baseline emissions (metric tonnes CO2e),Percentage reduction target,Target date,Comment,City Location,Country Location
0,Odder Kommune,58796,Denmark,Odder Kommune,NaN,2016,Total,NaN,2010,6136.0,2.0,NaN,NaN,"(55.975718, 10.149958)","(56.26392, 9.501785)"
1,Comune di Napoli,36158,Italy,Napoli,NaN,2016,Total,NaN,2005,2913434.0,25.0,2020.0,NaN,"(40.8419943, 14.2513831)","(41.87194, 12.56738)"
2,Egedal Municipality,62855,Denmark,Egedal Municipality,NaN,2016,Total,NaN,2009,268000.0,7.0,2020.0,The municipality are increasing in terms of ci...,"(55.795045, 12.238733)","(56.26392, 9.501785)"
3,Yilan County,61753,Taiwan,Yilan,NaN,2016,Total,NaN,2009,3804493.0,35.0,2020.0,NaN,"(24.702107, 121.73775)","(23.69781, 120.960515)"
4,"City of Emeryville, CA",61790,USA,"Emeryville, CA",NaN,2016,Total,Overall community emissions,2004,178832.0,40.0,2030.0,NaN,"(37.831316, -122.285247)","(37.09024, -95.712891)"

In [59]:
df = emissions_reduction_2016[["Organisation", "Country", "Account No", "C40", "City Location", "City Short Name"]]
df =df.rename(columns ={"Organisation":"city_name", "Country": "country_id", "Account No":"account_no", "City Short Name": "city_short_name", "City Location": "city_location", "C40":"c40"})
df =df.drop_duplicates("account_no")
df["c40"]=df["c40"]=="C40"
print()

In [60]:
df.head(9999)

,city_name,country_id,account_no,c40,city_location,city_short_name
0,Odder Kommune,Denmark,58796,False,"(55.975718, 10.149958)",Odder Kommune
1,Comune di Napoli,Italy,36158,False,"(40.8419943, 14.2513831)",Napoli
2,Egedal Municipality,Denmark,62855,False,"(55.795045, 12.238733)",Egedal Municipality
3,Yilan County,Taiwan,61753,False,"(24.702107, 121.73775)",Yilan
4,"City of Emeryville, CA",USA,61790,False,"(37.831316, -122.285247)","Emeryville, CA"
...,...,...,...,...,...,...
275,Ville de Salaberry-de-Valleyfield,Canada,60680,False,"(45.250091, -74.133086)",Salaberry-de-Valleyfield
276,Moscow Government,Russia,31174,True,"(55.755826, 37.6173)",Moscow
277,Stadt Heidelberg,Germany,31165,True,"(49.398752, 8.672434)",Stadt Heidelberg
278,"City of Davis, CA",USA,59552,False,"(38.544907, -121.740517)","Davis, CA"
279,City of Hiroshima,Japan,49386,False,"(34.385203, 132.455293)",Hiroshima

In [67]:
engine = create_engine('mysql+pymysql://root:AmeSame420@localhost:3306/mydb')
df.to_sql("city", con = engine, if_exists="append", index = False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`mydb`.`city`, CONSTRAINT `fk_city_country` FOREIGN KEY (`country_id`) REFERENCES `country` (`name`))')
[SQL: INSERT INTO city (city_name, country_id, account_no, c40, city_location, city_short_name) VALUES (%(city_name)s, %(country_id)s, %(account_no)s, %(c40)s, %(city_location)s, %(city_short_name)s)]
[parameters: [{'city_name': 'Odder Kommune', 'country_id': 'Denmark', 'account_no': 58796, 'c40': 0, 'city_location': '(55.975718, 10.149958)', 'city_short_name': 'Odder Kommune'}, {'city_name': 'Comune di Napoli', 'country_id': 'Italy', 'account_no': 36158, 'c40': 0, 'city_location': '(40.8419943, 14.2513831)', 'city_short_name': 'Napoli'}, {'city_name': 'Egedal Municipality', 'country_id': 'Denmark', 'account_no': 62855, 'c40': 0, 'city_location': '(55.795045, 12.238733)', 'city_short_name': 'Egedal Municipality'}, {'city_name': 'Yilan County', 'country_id': 'Taiwan', 'account_no': 61753, 'c40': 0, 'city_location': '(24.702107, 121.73775)', 'city_short_name': 'Yilan '}, {'city_name': 'City of Emeryville, CA', 'country_id': 'USA', 'account_no': 61790, 'c40': 0, 'city_location': '(37.831316, -122.285247)', 'city_short_name': 'Emeryville, CA'}, {'city_name': 'Communauté urbaine du Grand Nancy', 'country_id': 'France', 'account_no': 62180, 'c40': 0, 'city_location': '(48.692054, 6.184417)', 'city_short_name': 'Communauté urbaine du Grand Nancy'}, {'city_name': 'Aarhus Kommune', 'country_id': 'Denmark', 'account_no': 54408, 'c40': 0, 'city_location': '(56.168393, 10.137373)', 'city_short_name': 'Aarhus Kommune'}, {'city_name': 'Amiens Métropole', 'country_id': 'France', 'account_no': 54425, 'c40': 0, 'city_location': '(49.894067, 2.295753)', 'city_short_name': 'Amiens Métropole'}  ... displaying 10 of 176 total bound parameter sets ...  {'city_name': 'City of Davis, CA', 'country_id': 'USA', 'account_no': 59552, 'c40': 0, 'city_location': '(38.544907, -121.740517)', 'city_short_name': 'Davis, CA'}, {'city_name': 'City of Hiroshima', 'country_id': 'Japan', 'account_no': 49386, 'c40': 0, 'city_location': '(34.385203, 132.455293)', 'city_short_name': 'Hiroshima'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [56]:
print(df.get(37))

None

In [64]:
# Assuming df is your DataFrame and engine is your SQLAlchemy engine
existing_country_ids = pd.read_sql("SELECT name FROM country", con=engine)
missing_ids = df[~df['country_id'].isin(existing_country_ids['name'])]
print(missing_ids)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [65]:
with engine.connect() as connection:
    result = connection.execute("SELECT * FROM country")
    for row in result:
        print(row)

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM country'

In [ ]:
unique_countries = df['country_id'].unique()
Session = sessionmaker(bind=engine)
session = Session()


engine = create_engine('your_database_connection_string')
Session = sessionmaker(bind=engine)
session = Session()

# Assuming 'Country' is your model for the 'country' table and it has a 'name' column
existing_countries = session.query(Country.name).filter(Country.name.in_(unique_countries)).all()
existing_countries = {name[0] for name in existing_countries}  # Convert list of tuples to set

missing_countries = set(unique_countries) - existing_countries