In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import re

In [2]:
community_Wide_2017 = pd.read_csv('../DBData/2017_-_Cities_Community_Wide_Emissions.csv')
emissions_reduction_2016 = pd.read_csv('../DBData/2016_-_Cities_Emissions_Reduction_Targets_20240207.csv')
emissions_reduction_2017 = pd.read_csv("../DBData/2017_-_Cities_Emissions_Reduction_Targets_20240207.csv")
citywide_ghg_2016 = pd.read_csv('../DBData/2016_-_Citywide_GHG_Emissions_20240207.csv')
climate_risk = pd.read_csv('../DBData/2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv')

,Account number,Organization,City,Country,Region,C40,Access,Reporting year,Accounting year,Boundary,...,Population year,GDP,GDP Currency,GDP Year,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,5.214700e+04,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"
1,31171,Ayuntamiento de Madrid,Madrid,Spain,Europe,C40,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2016,1.293780e+11,EUR Euro,2015.0,Contabilidad Municipal Trimestral. Ciudad de M...,15.0,655.0,604.0,"(40.1076253, -3.3875673)","(40.463667, -3.74922)"
2,3417,New York City,New York City,USA,North America,C40,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2016,1.558520e+12,USD US Dollar,2015.0,http://www.brookings.edu/research/reports2/201...,13.0,10.0,784.0,"(40.7127837, -74.0059413)","(37.09024, -95.712891)"
3,59537,"City of Denton, TX","Denton, TX",USA,North America,NaN,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2015,NaN,NaN,NaN,NaN,18.2,192.0,227.8,"(33.214841, -97.133068)","(37.09024, -95.712891)"
4,35894,Ville de Montreal,Montreal,Canada,North America,C40,Public,2017,2013-01-01 - 2013-12-31,A metropolitan area,...,2013,1.154128e+08,CAD Canadian Dollar,2013.0,Institut de la statistique du Québec,6.8,17.0,500.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"

In [3]:
temperature1 = citywide_ghg_2016[["Average annual temperature (in Celsius)​", "Measurement Year", "City Name"]]
temperature1["Measurement Year"] = pd.to_datetime(temperature1["Measurement Year"]).dt.year

temperature2 = community_Wide_2017[["Average annual temperature (in Celsius)​","Reporting year", "City"]]

temperature2 = temperature2.rename(columns={"Reporting year": "Measurement Year", "City": "City Name"})

temperature = pd.merge(temperature1, temperature2, on=["City Name", "Measurement Year", "Average annual temperature (in Celsius)​"], how="outer")

temperature = temperature.rename(columns={"Average annual temperature (in Celsius)​": "temperature", "Measurement Year":"year", "City Name":"id_city"})

temperature = temperature.dropna()

print(temperature.to_string())
#temperature.head()

# The year from this dataset: community_Wide_2017 - 2017_-_Cities_Community_Wide_Emissions.csv is not necessary the most accurate one, but the best one there is.
# The desired result is the year of the avg temperature, but the only available seems to be the reporting year, the accouting year, population year and GDP year.
# If another value for year is prefered, feel free to change

     temperature  year                                                   id_city
0            6.8  2009                                         Ville de Montreal
1            9.5  2013                                        Greater Manchester
2           10.4  2014                                              City of Reno
3            7.9  2014                                       City of Minneapolis
4            7.9  2014                                        City of London, ON
5           12.0  2013                                         Ville de Lausanne
6           11.6  2015                                          City of Columbus
8           12.7  2015                                 Incheon Metropolitan City
9            9.4  2010                                           City of Chicago
10          15.0  2015                                         City of Melbourne
12          15.0  2013                                      City of Richmond, VA
13          21.0  2014                                         City of Las Vegas
14          13.0  2014                                             New York City
15           8.0  2014                                            City of Warsaw
16           8.0  2013                                           City of Toronto
17           9.2  2013                                   Birmingham City Council
18           9.7  2013                                           City of Cardiff
19          18.0  2013                                  Municipality of Curitiba
20          16.6  2012                                         City of Cape Town
21           3.6  2014                                          City of Edmonton
22          14.7  2013                                      District of Columbia
23          12.0  2012                                               Basel-Stadt
24          32.1  2014                                     Bogor City Government
25           5.5  2013                                             City of Turku
26          10.0  2014                                            City of Boston
27           6.5  2014                                         City of Flagstaff
28          11.0  2015                                        Gemeente Rotterdam
29          21.0  2013                            Municipality of Belo Horizonte
30          25.1  2014                                 Kaohsiung City Government
31          21.0  2014                                New Taipei City Government
32          13.0  2012                                   Municipalidad de La Paz
33          14.0  2013                          Región Metropolitana de Santiago
35          10.5  2016                         Communauté urbaine du Grand Nancy
36          10.8  2007                                          City of Lakewood
37          15.2  2012                                         City of Knoxville
38          14.0  2015                                           City of Roanoke
39          14.7  2010                                         City of Baltimore
40          15.1  2013                                           City of Oakland
41          29.0  2014                                   Jakarta City Government
42          20.0  2013                               Prefeitura de Florianópolis
43          13.3  2012                                      City of Philadelphia
44          13.2  2011                                          Stadt Heidelberg
45          26.0  2012                                    Municipality of Recife
46          21.0  2012                                          City of Brasília
47          13.9  2005                                       University City, MO
48           6.8  2013                                 Vilnius City Municipality
49          17.6  2009                                         City of San Diego
50          17.8  2010                                                      Faro
51          26.0  2014                                     Santiago de Guayaquil
52          18.0  2012                         Metropolitan Municipality of Lima
53          11.8  2015                                         City of Amsterdam
54          11.0  2013                                  Greater London Authority
55          19.4  2010                                            City of Dallas
56          16.3  2014                                          City of Zaragoza
57           8.1  2014                                    Hoeje-Taastrup Kommune
58           9.0  2010                                            City of Albany
60           5.7  2013                                              City of Oslo
61          13.0  2005                                         Comune di Venezia
62          11.0  2010                                   City of North Vancouver
63           7.8  2008                                          Town of Ajax, ON
64          11.0  2012                                           City of Seattle
65          12.1  2013                             Seoul Metropolitan Government
66          16.0  2014                                               Mexico City
67           5.9  2014                                          City of Helsinki
69          23.7  2012                              Prefeitura do Rio de Janeiro
70          10.0  2011                                       Dublin City Council
71           9.7  2012                                Landeshauptstadt Magdeburg
72          15.0  2009                                         Comune di Bologna
73          15.0  2013                                       Município de Águeda
74          23.0  2014                                    Taipei City Government
75          15.0  2015                                         City of Palo Alto
76           8.8  2014                                              Stadt Zürich
77          13.5  2015                                                  Canberra
78          16.9  2014                                           City of Atlanta
79          15.5  2007                                         Comune di Ferrara
80          11.0  2014                                         City of Vancouver
81           7.7  2010                                        City of Burlington
82          20.0  2014                                      City of Johannesburg
83          15.0  2014                                          Comune di Torino
84          23.0  2010                                         City of Davis, CA
85          17.3  2014                                            City of Lisbon
86          16.0  2014                                                  Barreiro
87          15.0  2011                                          Comune di Genova
88          11.7  2013                                      City of Indianapolis
89          13.6  2010                                         Abington Township
91          14.1  2014                                         Comune di Ravenna
92           8.8  2013                        Free and Hanseatic City of Hamburg
93          18.0  2014                                      City of Buenos Aires
94          14.0  2013                                       City of Bournemouth
95          15.2  2009                                             City of Porto
96          16.6  2014                             Tokyo Metropolitan Government
97          15.0  2015                                   Bogotá Distrito Capital
98          21.0  2015                           Ayuntamiento de San Luis Potosí
99          17.0  2015                                        Pretoria - Tshwane
100         10.1  2014                                            City of Denver
101         10.5  2013                                         City of Iowa City
102          8.0  2015                                        City of Copenhagen
103         16.0  2010                                             Roma Capitale
104         15.1  2011  Metropolitan Government of Nashville and Davidson County
105         23.2  2010                                           City of Goiânia
106         11.8  1990                                        Comune di Piacenza
107          7.0  2012                                         City of Stockholm
108         17.5  2013                                        Município de Moita
109         10.4  2010                                         City of Cleveland
110         20.8  2012                                    Prefeitura de Sorocaba
111          4.1  2015                                           City of Calgary
112         10.9  2012                                           City of Boulder
113          2.4  1998                                          City of Winnipeg
114         17.0  2010                                                   Cascais
115         20.0  2015                                            City of Sydney
116         14.5  2015                                     City of Arlington, VA
117         10.4  2012                                     City of San Francisco
118         11.2  2005                                            City of Eugene
119         15.3  2013                                          Auckland Council
120          8.2  2012                                          City of Hamilton
121         14.3  2015                                           Los Altos Hills
122         13.9  2014                                          City of St Louis
123         15.5  2013                                          Comune di Milano
124         10.8  2010                                           City of Yonkers
125          6.0  2013                                         City of Reykjavík
126         23.3  2012     Government of Hong Kong Special Administrative Region
127         25.0  2015                         Alcaldía Metropolitana de Caracas
128         10.8  2012                                        Town of Blacksburg
129          4.0  2013                                             City of Lahti
130         16.0  2013                                          City of Yokohama
131         16.1  2013                                            City of Nagoya
132         16.6  2014                                         City of Hiroshima
133         18.0  2013                                          City of Adelaide
135         21.0  2010                                           City of Benicia
136          9.0  2012                                           City of Detroit
137         13.6  2014                                             City of Paris
138         13.1  2013                                                Suwon City
139         23.0  2013                                         Taoyuan City Hall
140         10.0  2015                                        City of Ærøskøbing
141         11.5  2015                                     City of Lancaster, PA
142         18.0  2013                                       City of Los Angeles
143         12.5  2014                                      City of Portland, OR
144         24.0  2014                                            City of Durban
145         24.0  2015                       Estância Turística de Guaratinguetá
146         20.9  2014                                       City of New Orleans
147         24.7  2010                                          Santiago de Cali
148         27.0  2013                                       City of San Antonio
149         19.0  2014                                          City of Savannah
150         15.0  2011                                      City of Piedmont, CA
151         19.0  2008                                    City of West Hollywood
152         11.1  2013                                        City of Pittsburgh
153         13.7  2013                                         City of Alton, IL
154          8.8  2007                                   City of Lake Forest, IL
155         20.0  2011                                      City of Santa Monica
156         20.0  2013                                            City of Austin
158         21.6  2012                                            City of Tucson
159         16.1  2013                                           City of Okayama
160         25.0  2010                                             Batangas City
161         17.0  2014                                Greater Amman Municipality
163         16.0  2006                                                  Santarém
164         15.0  2009                                Torres Vedras Municipality
165         15.0  2013                                    Ayuntamiento de Madrid
166          7.5  2014                                  Municipality of Hjørring
167         22.3  2013                                              Yilan County
168         12.7  2015                                   Wellington City Council
169         11.8  2015                                           City of Hayward
170         26.0  2013                                          City of Salvador
171          6.0  2014                           City of Aspen and Pitkin County
172         15.0  2015                                            City of Durham
173         10.7  2014                                           City of Windsor
174         25.0  2013                                Pingtung County Government
175         18.0  2012                                 City of Hermosa Beach, CA
176         13.0  2013                                           Comune di Udine
177         19.5  2013                              Municipality of Porto Alegre
178         15.1  2014                                    City of Emeryville, CA
179          9.9  2013                                         City of Leicester
180         19.0  2015                                     Village of Kadiovacik
181         17.5  2014                                            City of Athens
183         21.0  2014                                           City of Houston
184         30.0  2014                                             City of Lagos
185         12.1  2011                                      City of Peterborough
186         22.0  2011                           Distrito Metropolitano de Quito
187         17.5  2017                                       Nelson Mandela Bay
188         15.0  2017                                                    Madrid
189         13.0  2017                                             New York City
190         18.2  2017                                                Denton, TX
191          6.8  2017                                                  Montreal
192          7.7  2017                                                Burlington
193         12.7  2017                                                Wellington
194         11.0  2017                                                   Seattle
195         24.0  2017                                                   Tainan
196          9.0  2017                                                 Rochester
197          4.4  2017                                                     Lahti
198         15.0  2017                                                Greensboro
199          5.5  2017                                                     Turku
200         10.5  2017                                                     Iowa
201         19.0  2017                                                  Savannah
202         23.6  2017                                               Brownsville
203         26.0  2017                                                  Salvador
204         19.0  2017                                                   Houston
205         26.0  2017                                                  Batangas
206          2.4  2017                                                  Winnipeg
207         15.0  2017                                              Piedmont, CA
208         17.0  2017                                                    Amman
209         11.7  2017                                              Indianapolis
210         14.7  2017                                                 Baltimore
211          7.0  2017                                                 Stockholm
212         13.5  2017                                                     Paris
213         27.0  2017                                               Ho Chi Minh
214          8.0  2017                                                Middelfart
215         11.0  2017                                            Somerville, MA
216         10.0  2017                                              Fort Collins
217         13.0  2017                                              Portland, ME
218         10.7  2017                                                   Windsor
219         17.0  2017                                                 Chihuahua
220         22.0  2017                                                   Phoenix
221          9.6  2017                                                   Medford
222         12.0  2017                                                    Hobart
223          8.1  2017                                            Hoeje-Taastrup
224         20.0  2017                                              Santa Monica
225         13.0  2017                                                Cincinnati
226          7.9  2017                                                London, ON
227         14.0  2017                                                   Bogotá
229         23.0  2017                                                  Taichung
230         15.2  2017                                                   Firenze
231         10.8  2017                                                Blacksburg
232         14.0  2017                                               Bournemouth
233         14.0  2017                                                   Roanoke
234         15.0  2017                                              Brisbane, CA
235         10.4  2017                                                      Reno
236         12.7  2017                                            Salt Lake City
237         23.0  2017                                                   Taoyuan
238         16.0  2017                                               Mexico City
239          2.0  2017                                                 Saskatoon
240         23.0  2017                                                   Niterói
241         14.1  2017                                             San Francisco
242          8.8  2017                                           Lake Forest, IL
243         14.0  2017                                                  Santiago
244         14.7  2017                                            Washington, DC
245         12.5  2017                                              Portland, OR
246         27.0  2017                                                     Tulua
247         11.0  2017                                                 Rotterdam
248         20.0  2017                                             Florianópolis
249          8.4  2017                                                  Lakewood
250         21.0  2017                                            Belo Horizonte
251         13.7  2017                                                 Istanbul
252         23.0  2017                                                 Davis, CA
253         24.7  2017                                          Santiago de Cali
254         17.0  2017                                        Pretoria - Tshwane
255         17.0  2017                                                   Cascais

C:\Users\krist\AppData\Local\Temp\ipykernel_26928\412784116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temperature1["Measurement Year"] = pd.to_datetime(temperature1["Measurement Year"]).dt.year

In [4]:
temperature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 415
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  400 non-null    float64
 1   year         400 non-null    int64
 2   id_city      400 non-null    object
dtypes: float64(1), int64(1), object(1)
memory usage: 12.5+ KB

In [8]:
population1 = citywide_ghg_2016[["Current Population", "Measurement Year", "City Name"]]

population2 = emissions_reduction_2017[["Population","Population Year", "City"]]

population1["Measurement Year"] = pd.to_datetime(population1["Measurement Year"]).dt.year

population2 = population2.rename(columns={"Population": "Current Population","Population Year":"Measurement Year", "City": "City Name"})

population = pd.merge(population1, population2, on=["City Name", "Measurement Year", "Current Population"], how="outer")

population = population.rename(columns={"Current Population": "population", "Measurement Year":"year", "City Name":"id_city"})

population = population.dropna()
#print(population.to_string())
#population.info()
population.head()

C:\Users\Bruger\AppData\Local\Temp\ipykernel_16232\1888771496.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population1["Measurement Year"] = pd.to_datetime(population1["Measurement Year"]).dt.year

   population    year              id_city
0   1886481.0  2009.0    Ville de Montreal
1   2762000.0  2013.0   Greater Manchester
2    236995.0  2014.0         City of Reno
3    407207.0  2014.0  City of Minneapolis
4    375000.0  2014.0   City of London, ON

In [9]:
#gdp1 = citywide_ghg_2016[["City GDP", "GDP Currency", "Year of GDP", "GDP Source"]]
#citywide_ghg_2016.head()
#gdp2 = community_Wide_2017[["GDP", "GDP Currency", "GDP Year", "GDP Source"]]
#gdp2.head()

In [16]:
gdp1 = citywide_ghg_2016[["City GDP", "GDP Currency", "Year of GDP", "GDP Source", "City Name"]]

gdp2 = community_Wide_2017[["GDP", "GDP Currency", "GDP Year", "GDP Source", "City"]]

gdp2 = gdp2.rename(columns={"GDP": "City GDP","GDP Year":"Year of GDP", "City":"City Name"})

gdp = pd.merge(gdp1, gdp2, on=["City Name", "Year of GDP", "City GDP", "GDP Currency", "GDP Source"], how="outer")

gdp = gdp.rename(columns={"City GDP": "gdp", "GDP Currency":"gdp_currency", "Year of GDP":"year", "GDP Source":"source", "City Name":"id_city"})

#gdp = gdp.dropna()
#print(gdp.to_string())
#gdp.info()
gdp.head()

,gdp,gdp_currency,year,source,id_city
0,1.201180e+11,CAD Canadian Dollar,2014.0,"Ville de Montréal, Montréal en statistiques, h...",Ville de Montreal
1,8.777300e+10,NaN,2013.0,UK ONS (using 1.56 USD/GBP) Figures provided i...,Greater Manchester
2,1.000000e+10,USD US Dollar,2014.0,Bureau of Economic Analysis10.4,City of Reno
3,2.357000e+11,USD US Dollar,2014.0,http://www.bea.gov/iTable/iTable.cfm?reqid=70&...,City of Minneapolis
4,1.540000e+10,CAD Canadian Dollar,2014.0,"Conference Board of Canada, London Census Metr...","City of London, ON"